@font-face {
  font-family: 'TTN';
  src: url('../assets/fonts/TTNorms-Regular.eot');
  src: url('../assets/fonts/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/TTNorms-Regular.woff2') format('woff2'),
      url('../assets/fonts/TTNorms-Regular.woff') format('woff'),
      url('../assets/fonts/TTNorms-Regular.ttf') format('truetype'),
      url('../assets/fonts/TTNorms-Regular.svg#TTNorms-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'TTB';
  src: url('../assets/fonts/TTNorms-Bold.eot');
  src: url('../assets/fonts/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/TTNorms-Bold.woff2') format('woff2'),
      url('../assets/fonts/TTNorms-Bold.woff') format('woff'),
      url('../assets/fonts/TTNorms-Bold.ttf') format('truetype'),
      url('../assets/fonts/TTNorms-Bold.svg#TTNorms-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TTM';
  src: url('../assets/fonts/TTNorms-Bold.eot');
  src: url('../assets/fonts/TTNorms-Medium.eot') format('embedded-opentype'),
      url('../assets/fonts/TTNorms-Medium.woff2') format('woff2'),
      url('../assets/fonts/TTNorms-Medium.woff') format('woff'),
      url('../assets/fonts/TTNorms-Medium.ttf') format('truetype'),
      url('../assets/fonts/TTNorms-Medium.svg') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
